@font-face {
    font-family: "Space Grotesk";
    src: url(SpaceGrotesk-Regular.woff2) format("woff2");
}


*{
    box-sizing: border-box;
}

body{
    background: rgb(227, 229, 219);
    line-height: 1.5;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    
    color: white;
}

h1{
    margin: 0;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

p{
    max-width: 600px;
}


/* header */

.header{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
}

.header a{
    text-decoration: none;
    color:currentColor;
}

.nav{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    gap: 12px;
}

.nav a{
    text-decoration: none;
    color: currentColor;
    background: rgb(0, 0, 0);
}

.nav a span{
    display: block;
    padding: 12px;
}

/*
page projet
***** */


.projet{
    background: rgb(227, 229, 219);
    color: rgb(0, 0, 0);
}

.projet h1{
    font-size: 16px;
    color: rgb(0, 0, 0);
}